<head>

<div class="container-fluid main-container">

<div class="navbar navbar-default  navbar-fixed-top" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/index"></a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
		<li>
  <a href="https://brooklab.org/">Home</a>
</li>
<li>
  <a href="https://brooklab.org/research">Research</a>
</li>
<li>
  <a href="https://brooklab.org/brooklab.org/publications">Publications</a>
</li>
<li>
  <a href="https://brooklab.org/brooklab.org/carabrook">Cara Brook</a>
</li>
<li>
  <a href="https://brooklab.org/brooklab.org/team">Team</a>
</li>
<li>
  <a href="https://brooklab.org/brooklab.org/jointhelab">Join the Lab!</a>
</li>
<li>
  <a href="https://carabrook.github.io/blog">News</a>
</li>
<li>
  <a href="https://e2m2.org">E2M2</a>
</li>
	  </ul>
	  <!-- <ul class="nav navbar-nav navbar-right">
		
	  </ul> -->
	</div><!--/.nav-collapse -->
  </div><!--/.container -->
</div><!--/.navbar -->

<!-- <div class="fluid-row" id="header">

</div> -->


<!-- <style type="text/css">
h1.title {
  font-size: 31px;
  text-align: left;
  color:black;
}
</style> -->

</div>

<div style="clear:both;">&nbsp;</div>

	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">
	
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">  

<!-- Chrome, Firefox OS and Opera -->
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<!-- Styles -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>


